{% load static %}
<div class="header-container pt-3 pb-3">
    {% if user.is_authenticated %}
        <button type="button" class="btn btn-lg sidebar-button" id="sidebarToggle"><i class="fa fa-2x fa-bars"></i></button>
    {% endif %}
    <div class="header-content" style="width:fit-content; margin:auto;">
        <a class="header" href="/home">
            <h1> <img src="{% static 'icons/logo.png' %}" alt="Children Monitoring Icon" class="header-icon">Web-Based Children Monitoring System</h1>
        </a>
    </div>
</div>

<style>
    .header-container {
            background: #2c3e50;
    }
    .header-content {
        text-align: center;
        color: white;
    }
    .header-icon {
        width: 70px;
        height: auto;
        position: absolute;
        margin-left: -75px;
        margin-top: -5px;
    }
    .header:-webkit-any-link {
        text-decoration: none;
        color: white;
    }
    .sidebar-button {
        color: white;
        position: absolute;
        transition: margin-left 0.5s;
    }
</style>

<script>
    function openNav() {
        document.getElementById("sidebarToggle").style.marginLeft = "180px";
        document.getElementById("sidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("sidebarToggle").style.marginLeft = "0";
    }

    $(document).ready(function() {
        $('#sidebarToggle').on('click', function() {
            var sidebarWidth = $('#sidebar').width();
            if (sidebarWidth === 0) {
                openNav();
            } else {
                closeNav();
            }
        });
    });
</script>